* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background: url('../IMAGENES/inicio.JPG') ;
  background-attachment: fixed;
  font-family: 'Lucida Sans', sans-serif;
  color: white;
}


 header {
    position: fixed;
    width: 100%;
    height: 15%;
    background: black;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;

  }

  .logo h1 {
    font-size: 40px;
    padding-left: 92px;
    color: #D4AF13;
  }

  .logo p {
    font-size: 12px;
    padding-left: 40px;
    letter-spacing: 2px;
    color: #D4AF13;
  }

  nav a {
    color: #D4AF13;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  nav a:hover {
    color: white;
  }
  .bienvenido{
    font-weight: 900;
    text-transform: uppercase;
  }

  .logout{
    background-color: black;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;
  }

  .logout:hover{
    background: white;
    color: black;
  }

  hr {
    color: white;
  }

main {
 
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

main h2 {
  font-size: 100px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-left: 100px;
   transition: opacity 0.9s ease-in-out;

}


section {
  height: 850px;
  padding: 100px 20px;
  background: black;
  text-align: center;

}

section h2 {
  font-size: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

.precios {
  display: flex;
  justify-content: center;
  gap: 30px;
  
}

.precios h3 {
  font-size: 40px;
  margin-bottom: 30px;
}

.precios p {
  font-size: 20px;

}

.numero {
  font-size: 40px;
}


.dia,
.mes {
  height: 400px;
  width: 45%;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
}

.dia {
  background: url('../IMAGENES/pase_diario.png') center center/cover no-repeat;
  color: white;
}

.mes {
  background: url('../IMAGENES/cuota_mensual.png') center center/cover no-repeat;
  color: black;
}


footer {
  background: black;
  color: white;
  height: 170px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 200px;

}

footer h3 {
  font-size: 28px;
  margin-bottom: 20px;

}

footer p {
  font-size: 16px;
}

footer p img {
  vertical-align: middle;
}