* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Lucida Sans', sans-serif;
    color: white;
    height: 850px;


}

header {
    position: fixed;
    width: 100%;
    height: 15%;
    background: black;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;

}

.logo h1 {
    font-size: 40px;
    padding-left: 92px;
    color: #D4AF13;
}



nav a {
    color: #D4AF13;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
}

.bienvenido{
    font-weight: 900;
    text-transform: uppercase;
  }

 .logout{
    background-color: black;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;
  }

  .logout:hover{
    background: white;
    color: black;
  }

main {
    background-color: black;
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 100vh;
   
}

main h1 {
    margin-left: 30px;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

main h2 {
    margin-left: 30px;
    font-size: 30px;
    color: #D4AF13;
    margin-bottom: 10px;
}

main p {
    margin-left: 30px;
    margin-bottom: 50px;
    font-size: 18px;
}



form {
    margin-left: 30px;
   display: flex;
    flex-direction: column;
   
    
}

label {
    margin-top: 30px;
    font-size: 16px;
    color: white;
}

input,
textarea {
    background: black;
    border: 1px solid gray; 
    outline: none;
    color: white;
    font-size: 16px;
    padding: 10px 5px;
    
    width: 98%;
}

input:focus, textarea:focus{
    border: 1px solid  #D4AF13;
}

textarea {
    height: 120px;
    resize: none;
    
}

.enviar {
    background: #D4AF13;
    color: black;
    font-weight: bold;
    padding: 12px 30px;
    width: 150px; 
    border-radius: 5px;
    margin: 30px auto;
    display: block;
}

.enviar:hover {
    background: white;
    color: #D4AF13;
}




footer {
    background: black;
    color: white;
    height: 170px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;

}

footer h3 {
    font-size: 28px;
    margin-bottom: 20px;

}

footer p {
    font-size: 16px;
}

footer p img {
    vertical-align: middle;
}

hr {
    color: white;
}