
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black ;
    background-attachment: fixed;
    font-family: 'Lucida Sans', sans-serif;
    color: white;
    height: 850px;


}

header {
    position: fixed;
    width: 100%;
    height: 15%;
    background: black;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;

}

.logo h1 {
    font-size: 40px;
    padding-left: 92px;
    color: #D4AF13;
}


nav a {
    color: #D4AF13;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
}

.bienvenido{
    font-weight: 900;
    text-transform: uppercase;
  }

  .logout{
     background-color: black;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;
}

.logout:hover {
    background: white;
    color: black;
}


main {
 
  height: 800px;
  padding: 200px;
  
}

main h1 {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contenedor{
   
    justify-content: center;
    align-items: center;
}



.reservar {
    background: #D4AF13;
    padding: 12px 30px;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
}

.mensaje-error {
    display:none;
    background: #ffdddd;
    color: #a00;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #cc0000;
}

.reserva-exitosa {
    background: #ddffdd;
    color: #080;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #00aa00;
}

.reservar:hover{
    background: white;
    color: black;
}


footer {
    background: black;
    color: white;
    height: 170px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;

}

footer h3 {
    font-size: 28px;
    margin-bottom: 20px;

}

footer p {
    font-size: 16px;
}

footer p img {
    vertical-align: middle;
}

hr {
        color: white;
    }