* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: url('../IMAGENES/registro2.jpg') ;
    font-family: 'Lucida Sans', sans-serif;
    color: white;
    height:850px;
    
    
  }

  header {
    position: fixed;
    width: 100%;
    height: 15%;
    background: black;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;

  }

  .logo h1 {
    font-size: 40px;
    padding-left: 92px;
    color: #D4AF13;
  }

  .logo p {
    font-size: 12px;
    padding-left: 40px;
    letter-spacing: 2px;
    color: #D4AF13;
  }

  nav a {
    color: #D4AF13;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  nav a:hover {
    color: white;
  }

   .logout{
    background-color: black;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;
  }

  .logout:hover{
    background: white;
    color: black;
  }

  hr {
    color: white;
  }

  main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;        
    padding: 100px ;
    
    
  }

  .login {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px 20px;
    border-radius: 15px;
    text-align: center;
    margin-top: 100px;
    max-width: 350px;
    
  }

  .login h1 {
    color:white;
    margin-bottom: 30px;
  }

  label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }

  input, .enviar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    
  }

  .enviar {
    background: #D4AF13;
    color: black;
    font-weight: bold;
    
    
  }

  .enviar:hover {
    background: white;
    color: #D4AF13;
  }

  .pieFormulario,a{
    color: #D4AF13;
  }

  a:hover{
   color: white;
  }

  a{
    text-decoration: none;
  }

  .mensaje, .error_registro, .error_sesion{
    word-wrap: break-word;
    visibility: hidden;
    background: #ffd7d7;
    padding: 10px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
    border: 3px solid #d4af37;
    border-radius: 5px;
  }


  .mensaje:not(:empty), .error_registro:not(:empty), .error_sesion:not(:empty){
    visibility: visible; 
}


  footer {
    background: black;
    color: white;
    height: 170px;
    padding: 30px  ;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap: 200px;

  }

  footer h3 {
    font-size: 28px;
    margin-bottom: 20px;

  }

  footer p {
    font-size: 16px;
  }

  footer p img {
    vertical-align: middle;
  }
  hr {
    color: white;
  }