* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../IMAGENES/servicios.JPG');
    background-attachment: fixed;
    font-family: 'Lucida Sans', sans-serif;
    color: white;
    height: 850px;


}

header {
    position: fixed;
    width: 100%;
    height: 15%;
    background: black;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;

}

.logo h1 {
    font-size: 40px;
    padding-left: 92px;
    color: #D4AF13;
}

.logo p {
    font-size: 12px;
    padding-left: 40px;
    letter-spacing: 2px;
    color: #D4AF13;
}

nav a {
    color: #D4AF13;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
}

.bienvenido {
    font-weight: 900;
    text-transform: uppercase;
}

.logout{
     background-color: black;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;
}

.logout:hover {
    background: white;
    color: black;
}


main {

    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 80%;
    max-width: 1000px;
    justify-items: center;
    align-items: center;
}

.servicio {

    text-align: center;

}

.servicio img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #D4AF13;
    
}

.servicio img:hover {
     border: 2px solid white;
    
}

.reservar {
    margin-top: 15px;
    background: #D4AF13;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.reservar:hover {
    background: white;
    color: black;
}

footer {
    background: black;
    color: white;
    height: 170px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;

}

footer h3 {
    font-size: 28px;
    margin-bottom: 20px;

}

footer p {
    font-size: 16px;
}

footer p img {
    vertical-align: middle;
}

hr {
    color: white;
}