* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color:black ;
    font-family: 'Lucida Sans', sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

header {
    position: fixed;
    width: 100%;
    height: 15%;
    background: black;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;

}

.logo h1 {
    font-size: 40px;
    padding-left: 92px;
    color: #D4AF13;
}

.logo p {
    font-size: 12px;
    padding-left: 40px;
    letter-spacing: 2px;
    color: #D4AF13;
}

nav a {
    color: #D4AF13;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
}

.bienvenido {
    font-weight: 900;
    text-transform: uppercase;
}

.logout {
    background-color: black;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;
}

.logout:hover {
    background: white;
    color: black;
}

main{
   
    padding-top: 150px;
    padding-bottom: 150px;
    flex-grow: 1;
}


main h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.filtroReserva{
    width: 90%;
    margin-left: 5%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px ;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 10px;
    
}

th,
td {
    padding: 15px;
    border-bottom: 1px solid white;
    text-align: center;
}

th {
    color: white;
    font-size: 16px;
}



.delete {
    background: red;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.delete:hover {
    background: darkred;
}

.sin_reservas {
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

footer {
    
    background: black;
    color: white;
    height: 170px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;

}

footer h3 {
    font-size: 28px;
    margin-bottom: 20px;

}

footer p {
    font-size: 16px;
}

footer p img {
    vertical-align: middle;
}

hr {
    color: white;
}

